@import './base.css';

#app {
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

a.router-link-exact-active,
a.router-link-active {
  color: hsla(160, 100%, 37%, 1);
}

a.router-link-exact-active:hover {
  background-color: transparent;
}

p,
hr {
  margin-top: 16px;
  margin-bottom: 16px;
}

button,
input {
  padding: 4px 8px;
}

button ~ button {
  margin-left: 8px;
}

label ~ label {
  margin-left: 8px;
}

nav {
  width: 100%;
  text-align: center;
  height: 48px;
  border-bottom: 1px solid var(--color-border);
}

nav a {
  font-size: 1.2rem;
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

form label {
  display: block;
  margin-bottom: 4px;
}

form .form-item {
  margin-bottom: 8px;
}
